*{
    padding: 0;
    margin: 0;
}

.nav-item a{
    color: rgb(3, 65, 3);
}

.nav-item a:hover{
    color: rgb(35, 179, 35);
}

/* Burgers */

.list-burgers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem;
}

.burgers{
    margin: 1rem;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff26 ;
    max-width: 280px;
    margin: 1.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
    border: none;
    border-radius: 15px;
}

h3, h4{
    font-size: 15px;
    align-items: center;
    margin: 1rem;
}

.titulo{
    font-size: 20px;
    padding-top: 1rem;
}

.tamaño{
    font-size: 11px;
    margin: 1rem;
}

.precio{
    font-size: 22px;
}

.btn {
    font-size: 13px;
    border-radius: 20px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    align-items: center;
}

/*Item Detail*/

.cardDetail {
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
}

.cardDetail-img {
    width: 300px;
    height: 450px;
    margin: 2em;
    border-radius: 10px;
}

.cardDetail-container {
    display: grid;
    grid-template-rows: minmax(600px) 1fr;
    width: 50%;
    margin: 2em;
}

.cardDetail-body {
    display: grid;
    grid-template-rows: minmax(600px) 1fr;
    width: 50%;
    margin: 2em;
}

.cardDetail-top {
    display: flex;
    justify-content: space-between;
}

.cardDetail-btn {
    display: flex;
    justify-content: right;
}

/*Item count*/

.itemDetailBtn {
    margin: 0 1rem 0 1rem;
    font-size: 15px;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #198754ce;
    border-radius: 100%;
    align-items: center;
    line-height: normal;
}

.itemStock{
    font-size: 25px;
    border: none;
    background: none;
}

.btnAgregar{
    font-size: 13px;
    border-radius: 17px;
    margin-right: 2.5rem!important;
    margin-left: 0.5rem!important;
    height: 34px;
    width: 118px;
    background-color: #198754ce;
    border: none;
    margin: 1rem;
    color: white;
}

.btnAgregar-comprar{
    font-size: 22px;
    padding-left: 1rem;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

/*cart*/

.text-cart{
    padding-top: 2.5rem!important;
}

/*Loader*/

.loader {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    position: relative;
    background: #222;
    border-radius: 50%;
    box-sizing: border-box;
    transform-origin: 170px 50px;
    border: 4px solid #333;
    box-shadow: 3px 4px #0003 inset, 0 0 6px #0002 inset;
    animation: panmov 0.4s ease-in-out infinite alternate;
}
.loader::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) skew(-15deg, 15deg) rotate(-15deg);
        width: 55px;
        height: 53px;
        background: #fff;
        background-image: 
        radial-gradient(circle 3px , #fff6 90%, transparent 10%),
        radial-gradient(circle 12px , #ffc400 90%, transparent 10%),
        radial-gradient(circle 12px , #ffae00 100%, transparent 0);
        background-repeat: no-repeat;
        background-position: -4px -6px , -2px -2px , -1px -1px;
        box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
        border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
        animation: ylmov 0.6s ease-in-out infinite alternate;
}
.loader::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 48px;
    height: 15px;
    width: 70px;
    background: #222222;
    border-radius: 0 8px 8px 0;
    box-shadow: 3px 0 3px #eee2 inset;
    transform: rotate(5deg) translateX(3px);
}
    @keyframes panmov {
        0% , 10% { transform: rotate(5deg) }
        90% , 100% { transform: rotate(-5deg) }
}
    @keyframes ylmov {
        to { 
            border-radius: 50% 36% 50% 50% / 49% 50% 45% 45%;
            background-position: -2px -4px , 2px 2px , 1px 1px;
        }
}


/*Footer*/

div .redes{
    border: white 2px solid;
    border-radius: 18px;
}